[Desktop Entry]
Type=Application
Name=3. Run transient simulation
Exec=xfce4-terminal --hold -e "labctl simulate transient"
Terminal=false
Icon=utilities-system-monitor

